/* Google Maps */
#map {
    height: 400px;
    width: 100%;
    margin-top: 1rem;
    border-radius: 5px;
}

.form-style {
    width: 100%;
    margin: 25px 10px;
    background-color: white;
    padding-bottom: 1.5rem;
    border-radius: 10px;
}

.form-header, .form-comment {
    text-align: center;
    text-transform: uppercase;
    color: #669999;
    margin: 10px auto;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 2.3em;
    letter-spacing: 3px;
    font-family: 'Roboto Mono', monospace;
}

.form-comment {
    font-size: 1.3em;
}

body {
    background-color: #d9d9d9;
}

label {
    margin-left: 5px;
    color: #669999;
    margin-bottom: 0;
}

.info-pro {
    font-family: 'Roboto Mono', monospace;
    color: #669999;
}

.card {
    border: 1px solid rgba(0,0,0,.25);
}

.delete-form {
    display: inline;
}

.fa-user, .fa-lock, .fa-at, .fa-envelope {
    font-size: 1.8em;
    margin-right: 25px;
    margin-top: 5px;
    color: gray;
}

.fa-at {
    font-size: 1.8em;
    margin-right: 22px;
    margin-top: 5px;
    color: gray;
}